google-auth>=2.0.0
google-auth-oauthlib>=0.5.0
google-api-python-client>=2.0.0
google-auth-httplib2>=0.1.0

livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-google
livekit-plugins-noise-cancellation
livekit-plugins-cartesia
livekit-plugins-deepgram
livekit-plugins-turn-detector

mem0ai
requests
langchain_community
python-dotenv
beautifulsoup4
supabase
neo4j
openai
qdrant-client
sentence-transformers

fastapi

